deepface==0.0.93
faster_whisper==1.1.1
groq==0.20.0
gTTS==2.5.4
mediapipe==0.10.21
opencv_contrib_python==4.11.0.86
opencv_python==4.10.0.84
opencv_python==4.11.0.86
opencv_python_headless==4.10.0.84
pandas==2.2.3
streamlit==1.42.1
